<ul class="bg-slate-900 mb-4 text-white p-4 rounded space-y-5">
  <li class="font-bold md:text-lg"><%= comment.content %></li>
  <li>by: <span class="text-red-500 font-semibold tracking-wider"><%= comment.user.username %></span></li>
</ul>