<div class="w-full">
  <h1 class="font-bold md:text-7xl text-4xl"><span class="text-red-500">Killer</span> Blog</h1>
  <div class="mt-16 space-y-4 p-4 bg-gray-200 w-full rounded">
    <% @posts.each do |post| %>
      <ul class="bg-white p-4 rounded space-y-5">
        <li class="font-bold md:text-lg"><%= post.title %></li>
        <li><%= link_to "Read more", post_item_path(post), class:"rounded border font-medium p-1 border-red-500 text-red-500" %></li>
      </ul>
    <% end %>
  </div>
</div>
