<div class="w-full">
  <div class="border-l-8 border-red-500 pl-4">
    <div class="">
      <p class="text-gray-500 mb-2">
        <%= @post.created_at.strftime("%Y-%m-%d") %>
      </p>
      <p class="text-gray-700 text-xl font-semibold mb-2">
        <%= @author.username %>
      </p>
    </div>
    <h1 class="font-bold text-4xl md:text-7xl">
      <%= @post.title %>
    </h1>
  </div>
  <div class="w-full bg-gray-200 rounded p-4 mt-16">
    <p class="leading-9 font-bold text-4xl md:text-7xl">
      <%= @post.body %>
    </p>
  </div>
</div>
