<div class="w-full">
  <div class="w-full flex flex-col items-start justify-center bg-slate-900 rounded h-48 lg:h-96 p-8">
    <h1 class="font-bold text-2xl lg:text-4xl text-red-500">A place to both <span class="border-b-4 border-red-500 pb-2">teach</span> and <span class="border-b-4 border-red-500 pb-2">learn</span></h1>
  </div>
  <p class="text-slate-900 font-semibold text-xl my-8"><span class="text-red-500">KillerBlog</span> is a platform for those who want to share their experience learning a new skill, a useful technology, or anything else and give insight into the methods we can use to improve ourselves. This is, of course, something that can work both ways meaning that while you're sharing your experience, you can use other people's insights and thoughts about what you think or something different from the topics you bring up.</p>
</div>
