@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#header {
  width: 100%;
  height: 5%;
}

#main {
  width: 100%;
  min-height: 85%;
}

#footer {
  width: 100%;
  height: 10%;
}@import 'actiontext.css';